div.content{
 background:url('/img/giostra.png');
 background-repeat:no-repeat;
 width:893px;
 height:552px;
 display:none;
}

img.scotchright{
 position:relative;
 top:-10px;
 right:-25px;
}

div.scotchleft{
 padding-top:360px;
 #background:url('/img/scotch.png');
 #background-repeat:no-repeat;
}
img.scotchleft{
 position:relative;
 left:-10px;
}

img.bike{
 position:relative;
 top:-70px;
}

img.logo{
 position:relative;
 left:-40px;
 top:30px;
}

img.link{
 position:relative;
 left:30px;
 top:30px;
 cursor:pointer;
}

img.link:hover{
 #width:10%;
 #height:10%;
}

div.book{
 left:-100%;
}

